html, body, #__next {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  scrollbar-gutter: stable ;
  width: 100%;
  background-color: #FBFBF8;//#ACACAC;
}
h1{
  padding: 0;
  margin: 0;
}