.form{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
    height: 100vh;
    flex-direction: column;
    .formPanel{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(22, 22, 22);
        color: #ffffff;
        flex-direction: column;
        padding: 20px;
        border-radius: 20px;
        gap: 15px;
        
        .formLabels{
            color: #ffffff;
            display: flex;
            flex-direction: column;
            gap: 15px;
            .Pass{
                gap: 20px
            }
            
            .Number{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
            }

        }
    }   
}