.GroupSettings{
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 80%;
    height: auto;
    background-color: #D9D9D9;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1);
    padding: 10px;
    border-radius: 10px;
    gap: 20px;
    padding: 20px;
    .row{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }
}