.habit{
    height: auto;
    width: var(--dashboardWidth);
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    .habitField{
        display: flex;
        justify-content: flex-start;
        width: 85%;

        
    }
}