.habit{
    height: auto;
    width: var(--dashboardWidth);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    

    .habitField{
        display: flex;
        justify-content: flex-start;
        width: 45%;

        
    }
}