.habit{
    height: auto;
    width: 80%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20;

    .habitField{
        display: flex;
        justify-content: flex-start;
        width: 50%;

        
    }
}