
    .head{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .center{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        .right{
            display: flex;
            align-items: center;
            margin-left: auto;
            color: #454545;
            text-decoration: none;
            font-weight: 700;
            font-size: 14pt;
        }
    }
