.allHabbits{
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 80%;
    height: auto;
    margin: 10%;
    background-color: #D9D9D9;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1);
    padding: 10px;
    border-radius: 10px;
    gap: 20px;
    padding: 20px;
    .head{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .center{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        .right{
            display: flex;
            align-items: center;
            margin-left: auto;
            color: #454545;
            text-decoration: none;
            font-weight: 700;
            font-size: 14pt;
        }
    }
}