.habit{
    height: auto;
    width: 100%;
    padding: 10, 20;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10;
    .habitName{

    }
    .habitField{
        .input{
            
        }
    }
}