.group{
    width: 90%;
    padding: 10px;
    background-color: rgb(255, 223, 127);
    border-radius: 10px;
    .groupName{
        display: flex;
        align-items: center;
        gap: 5px;
        .color{
            width: 15px;
            height: 15px;
            border-radius: 100%;
        }
    }    
}