html, body, #__next {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  scrollbar-gutter: stable ;
  width: 100%;
  background-color: #FBFBF8;//#ACACAC;
}
h1{
  padding: 0;
  margin: 0;
}
:root{
  //общие 
  --containerWidth: 80%;
  --padding: 20px;
  --containersMargin: 10%;
  --containersMarginBottom: 5%;
  --gap: 20px;
  --background: #FBFBF8;//#D9D9D9;
  --textColor: #454545dd;
  --containerShadow: 
    0px 2px 5px 2px rgba(34, 34, 34, 0.088),
    0px -1px 2px 1px rgba(37, 37, 37, 0.078);
    --buttonShadow: 
    0px 6px 10px 3px rgba(41, 41, 41, 0.2),
    0px -2px 20px 2px rgb(255, 255, 255);
  --containerBorder: 0px solid rgba(193, 193, 193, 0.4);
  --sFontSize: 12pt;
  --mFontSize: 20pt;
  --itemsGap: 20px;
  --buttonColor: #454545dd;
  //дата 
  --dateDirection: row;
  --dateJustify: space-between;
  --dateCenterPosition: absolute;
  --dateCenterTransform: translateX(-50%);
  --dateMarginLeft: auto;
  //хедер - завершено
  --headerFontSize: var(--mFontSize);
  --headerWidth: 90%;
  --headerGap: 2rem;
  --headerLogoSize: var(--mFontSize);
  --headerCenter: space-between;
  --headerTop: 0;
  --headerBottom: auto;
  --headerBorders: 0 0 10px 10px;
  --headerShadow: 0 4px 4px rgba(0,0,0,0.1);
  //таблица - завершено
  --tablHWidth: var(--truncatedWidth);
  --tableDWidth: 150px;
  --truncatedWidth: 120px;
  //дашборд - завершено
  --dashboardWidth: 90%;
  --dashboardJustify: space-between; 
  --dashboardShadow: 
    0px 2px 4px 1px rgba(41, 41, 41, 0.084),
    0px -2px 4px 1px rgb(255, 255, 255);
  --dashboardBorderRadius: 10px;
  //настройки
  //аналитика
  --amobileCenter: flex-start;
  --auniversalHeight: 150px;
}
.headerDirection{
  display: flex;
  flex-direction: column;
}
.container, .containerSkeleton {
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: var(--containerWidth);
  margin-top: var(--containersMargin);
  margin-bottom: var(--containersMarginBottom);
  height: auto;
  background-color: var(--background);
  border: var(--containerBorder);
  box-shadow: var(--containerShadow);
  border-radius: 10px;
  gap: var(--gap);
  padding: var(--padding);
}
.containerSkeleton{
  
  padding: 0;
  box-shadow: none;
  align-self: center;
}

// Ограничение текста 
.truncated, .wrapTruncated {
  width: var(--truncatedWidth);              
  overflow: hidden;       
  text-overflow: ellipsis; 
}
.truncated{
  white-space: nowrap; 
}

.wrapTruncated{
  white-space: wrap;    
}
.settingsTruncated, .settingsTypeTruncated{
  width: calc(var(--truncatedWidth) * 1.2);              
  white-space: wrap; 
  overflow: hidden;       
  text-overflow: ellipsis; 

}
.settingsTypeTruncated{
  width: calc(var(--truncatedWidth) * 0.9);              
}
//------------------------

.date{
  display: flex;
  align-items: center;
  margin-left: auto;
  color: var(--textColor);
  text-decoration: none;
  font-weight: 700;
  font-size: calc(var(--mFontSize) - 6pt);
}
//----------------------
.setButton{
  font-size: 10pt; 
  font-weight: bold;
  border-radius: 100px;
  min-width: auto;
  padding: 10px;
}

//----------------------

.tableLoading{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--textColor);
  font-size: var(--sFontSize );
  font-weight: 600; 
}

.medFont2{
  color: var(--textColor);
  font-size: var(--mFontSize);
  font-weight: bold;
}

.medFont1{
  color: var(--textColor);
  font-size: calc(var(--mFontSize) * 0.80 );
  font-weight: 700;
}

.medFont0{
  color: var(--textColor);
  font-size: calc(var(--mFontSize) * 0.80);
  font-weight: 700;
}

.smallFont2{
  color: var(--textColor);
  font-size: var(--sFontSize );
  font-weight: 600;
}
.smallFont1Table{
  color: var(--textColor);
  font-size: calc(var(--sFontSize) * 0.90);
  font-weight: 600;
}
.smallFont1{
  color: var(--textColor);
  font-size: calc(var(--sFontSize) * 0.90);
  font-weight: 500;
}

.inputContainer{
  display: flex;
  flex-direction: row;
  
  align-items: center;
}

.mobileCenter{
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
    }



// стили для календаря выбора даты
@import "react-day-picker/dist/style.css";
.rdp-root {
    --rdp-background-color: #D9D9D9;

    --rdp-accent-color: #39b354ff;
    --rdp-accent-color-dark: #454545;

    --rdp-text-color: #454545;

    --rdp-day-selected-background-color: #454545;
    --rdp-day-selected-color: #D9D9D9;

    --rdp-day-hover-background-color: rgba(69, 69, 69, 0.15);

    --rdp-day-today-color: #454545;
    --rdp-day-disabled-color: rgba(69, 69, 69, 0.4);

    --rdp-outline: 2px solid rgba(69, 69, 69, 0.4);
  }

  //Медиа запросы 
  @media (max-width: 1125px) {
    :root{
      --auniversalHeight: 305px;
    }
  }
  @media (max-width: 1000px) {
    :root{
      --containersMargin: 13%;
      --mFontSize: 17pt;
      --sFontSize: 11pt;
      --headerFontSize: 18pt;
      --headerLogoSize: 18pt;

    }
  }

  @media (max-width: 800px) {
    :root{
      --containersMargin: 15%;
      --mFontSize: 15pt;
      --sFontSize: 11pt;
      --truncatedWidth: 110px;
      --dashboardWidth: 100%;
      
      
    }
  }
  @media (max-width: 710px) {
    :root{
      --containersMargin: 17%;
      --mFontSize: 14pt;
      --sFontSize: 10pt;
      --truncatedWidth: 100px;
      --headerWidth: 100%;
      
      
      .date{
        flex-direction: column-reverse;
      }
    }
  }
  @media (max-width: 610px) {
    :root{
      --containersMargin: 18%;
      --mFontSize: 12pt;
      --sFontSize: 10pt;
      
      --headerGap: 2rem;
      --truncatedWidth: 90px;

    }
  }
  @media (max-width: 550px) {
    :root{
      --containersMargin: 18%;
      --mFontSize: 11pt;
      --sFontSize: 10pt;
      --truncatedWidth: 80px;

      --amobileCenter: center;
    }
  }


  @media (max-width: 480px) {
    :root{
      --containerWidth: 80%;
      --containersMargin: 5%;
      --containersMarginBottom: 25%;
      --padding: 3%;
      --mFontSize: 11pt;
      --sFontSize: 10pt;
      --truncatedWidth: 80px;
      --dateDirection: column;
      --dateJustify: center;
      --dateCenterPosition: static;
      --dateCenterTransform: none;
      --dateMarginLeft: 0px;
      
      --headerFontSize: 20pt;
      --headerGap: 2rem;
      --headerLogoSize: 0px;
      --headerCenter: center;
      --headerBorders: 10px 10px 0 0px;
      --headerTop: auto;
      --headerBottom: 0;
      --headerShadow: 0 -3px 4px rgba(0,0,0,0.1);

      
    }
    .headerDirection{
        flex-direction: column-reverse;
      }
    
  }
  @media (max-width: 405px) {
    :root{
      --containerWidth: 90%;
      --containersMargin: 5%;
      --itemsGap: 18px;
      --padding: 2%;
    }
  }

  @media (max-width: 360px) {
    :root{
      --containersMargin: 0%;
      --mFontSize: 11pt;
      --sFontSize: 10pt;
      --truncatedWidth: 78px;
      --itemsGap: 10px;
    }
  }





