.header {
  display: flex;
  justify-self: center;
  align-self: center;
  background-color: #D9D9D9;
  color: #1f1f1f;
  padding: 1rem 0;
  box-shadow: 0 4px 4px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  border-radius: 0 0 10 10px;
  width: var(--headerWidth);
  z-index: 1000; 
  user-select: none;

  .container {
    width: calc( var(--headerWidth) - 20%);
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: var(--headerCenter);
    align-items: center;
    
  }

  .logo {
    color: #454545;
    font-size: var(--headerLogoSize);
    font-weight: bold;
  }

  .nav {
    
    ul {
      list-style: none;
      display: flex;
      gap: var(--headerGap);
      margin: 0;
      padding: 0;
      align-items: center;

      li {
        a {
          color: #454545;
          text-decoration: none;
          font-weight: 600;
          transition: color 0.3s;
          font-size: var(--sFontSize);

          &:hover {
            color: #272727;
          }
        }
      }
    }
  }
}
