.header {
  display: flex;
  justify-self: center;
  align-self: center;
  background-color: var(--background);
  border: var(--containerBorder);
  color: var(--textColor);
  padding: 1rem 0;
  box-shadow: var(--headerShadow);
  position: fixed;
  top: var(--headerTop);
  bottom: var(--headerBottom);
  border-radius:  var(--headerBorders);
  width: var(--headerWidth);
  z-index: 1000; 
  user-select: none;

  .container {
    width: calc( var(--headerWidth) - 20%);
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: var(--headerCenter);
    align-items: center;
    
  }

  .logo {
    color: var(--textColor);
    font-size: var(--headerLogoSize);
    font-weight: bold;
  }

  .nav {
    
    ul {
      list-style: none;
      display: flex;
      gap: var(--headerGap);
      margin: 0;
      padding: 0;
      align-items: center;
      

      li {
        display: flex;
        align-items: center;
        a {
          color: var(--unSelectedColor);
          text-decoration: none;
          font-weight: 600;
          transition: color 0.3s;
          font-size: var(--headerFontSize);
          align-items: center;
          display: flex;
          -webkit-tap-highlight-color: transparent;
          &:hover {
            color: var(--selectedColor);
          }
        }
      }
    }
  }
}
