    .head{
        display: flex;
        flex-direction: var(--dateDirection);
        justify-content: var(--dateJustify);
        align-items: center;
        position: relative;
        .center{
            position: var(--dateCenterPosition);
            left: 50%;
            transform: var(--dateCenterTransform);
        }
        .right{
            display: flex;
            align-items: center;
            margin-left: var(--dateMarginLeft);
            color: #454545;
            text-decoration: none;
            font-weight: 700;
            font-size: 14pt;
        }
          
    }
    .habitBody{
        max-height: 60vh;
        padding-bottom: 5px;
        padding-top: 5px;
        overflow-y: auto;
        border-radius: 10px;
        mask-image: linear-gradient(
            to bottom,
            transparent,
            black 20px,
            black calc(100% - 20px),
            transparent
        );
        .accordionWrapper{
            padding: 2%;
            display: flex;
            flex-direction: column;
            gap: 15px;
            
            .groupWrapper{
                display: flex;
                flex-direction: column;
                gap: 5px;
            }
        }
    }
    .habitGroups{
        display: flex;
        flex-direction: column;
        gap: 15px;
        .Groups{
            display: flex;
            gap: 15px;
            align-items: center;
            .Habits{
                display: flex;
            }

        }
        
    }

.accordionData{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.noData{
    display: flex;
    align-items: center;
    font-size: 14pt;
    margin: 20px;
    
}