
    .first{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .title{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        .date{
            display: flex;
            align-items: center;
            margin-left: auto;
            color: #454545;
            text-decoration: none;
            font-weight: 700;
            font-size: 14pt;
        }
        

        
        
    }
    .habitGroups{
        display: flex;
        flex-direction: column;
        gap: 15px;
        .Groups{
            display: flex;
            gap: 15px;
            align-items: center;
            .Habits{
                display: flex;
            }

        }
        
    }

.accordionData{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.noData{
    display: flex;
    align-items: center;
    font-size: 14pt;
    margin: 20px;
    
}