.dashBoard{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    margin: 10%;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    gap: 20px;
    .first{
        .date{
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }
    .habitGroups{
        display: flex;
        flex-direction: column;
        gap: 15px;
        .Groups{
            display: flex;
            gap: 15px;
            align-items: center;
            .Habits{
                display: flex;
            }

        }
        
    }
}

.accordionData{
    display: flex;
    justify-content: center;
    flex-direction: column;
}