.dashBoard{
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 80%;
    height: auto;
    margin: 10%;
    background-color: #D9D9D9;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1);
    padding: 10px;
    border-radius: 10px;
    gap: 20px;
    padding: 20px;
    .first{
        
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .title{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        .date{
            display: flex;
            align-items: center;
            margin-left: auto;
            color: #454545;
            text-decoration: none;
            font-weight: 700;
            font-size: 14pt;
        }
        

        
        
    }
    .habitGroups{
        display: flex;
        flex-direction: column;
        gap: 15px;
        .Groups{
            display: flex;
            gap: 15px;
            align-items: center;
            .Habits{
                display: flex;
            }

        }
        
    }
}

.accordionData{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.noData{
    display: flex;
    align-items: center;
    font-size: 14pt;
    margin: 20px;
    
}