.GroupSettings{
    display: flex;
    flex-direction: column;
    gap: var(--itemsGap);
    margin-top: 20px;
    .emptyGroups{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--itemsGap);
    }
    .group{
        display:flex;
        align-items: center;
        gap: var(--itemsGap);
        
    }
}
