.form{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16pt;
    height: 100vh;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1);
    .formPanel{
        display: flex;
        align-items: center;
        background-color: #D9D9D9;
        color: #050505;
        width: 300px;
        flex-direction: column;
        padding: 20px;
        border-radius: 20px;
        gap: 20px;
        .name{
            color: #454545;
            font-size: 24pt;
            font-weight: bold;
        }

        .formLabels{
            color: #ffffff;
            display: flex;
            flex-direction: column;
            gap: 20px;
            .Input{
                border-radius: 15px;
            }
            .Pass{
                gap: 20px
            }
            
            .Number{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
            }
            .errorText{
                
                color: #AA3333;
                font-size: 12pt;
                text-align: center;
            }

        }
        .formButton{
            display: flex;
            flex-direction: column;
            gap: 15px;
            .lowerText{
                justify-self: center;
                color: #454545;
                font-size: 12pt;
                text-align: center;
                
                a{
                    color: #363636;
                }
            }
        }
        
    }   
}