.settingsPreview{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    
    align-items: center;
    user-select: none;
    .settings{
        display: flex;
        flex-direction: column;
        justify-self: center;
        width: var(--containerWidth);
        height: auto;
        background-color: var(--background);
        box-shadow: var(--containerShadow);
        padding: 10px;
        gap: var(--gap);
        border-radius: 10px;
        padding: var(--padding);
        .mainLine{
            display:flex;
            align-items: center;
            justify-content: space-between;
            .text{
                max-width: 80%; 
            }

        }
        header{
            .title{
                text-align: left;
            }
        }

    }
}
