.settingsPreview{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    
    align-items: center;
    user-select: none;
    .settings{
        display: flex;
        flex-direction: column;
        justify-self: center;
        width: var(--containerWidth);
        height: auto;
        background-color: var(--background);
        box-shadow: var(--containerShadow);
        padding: 10px;
        border-radius: 10px;
        gap: var(--gap);
        padding: var(--padding);
        header{
            .title{
                text-align: center;
            }
        }

    }
}
